<!-- Default home page -->
<style>

</style>

<div class="default-page">
  <div class="header">
  <div class="navbar navbar-default navbar-fixed-top">
          <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">

                  </a>
              </div>
              <div class="navbar-collapse collapse navbar-right scroll-me">
                  <ul class="nav nav-pills ">
                      <li><a href="#home">HOME</a></li>
                      <li><a href="#services">SERVICES</a></li>
                      <li><a href="#works">WORKS</a></li>
                      <li><a href="#contact">CONTACT</a></li>
                  </ul>
              </div>

          </div>
      </div>
      <!-- NAVBAR CODE END -->
      <div id="home">
          <div class="overlay">
              <!-- overylay class usage -->
              <div class="container">
                  <div class="col-md-8 col-md-offset-2 text-center">
                      <img src="/images/logo.png"></img>
                      <h1 style="margin-top: 0px;color:#59B44E;">FILM AND MEDIA SERVICES </h1>
                      <h1>You Think, We Deliver </h1>
                      <p class="p-cls">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      </p>
                  </div>

              </div>
          </div>

      </div>
      <!--HOME SECTION END  -->
      <section id="services">
          <div class="container">
              <div class="row text-center pad-bottom">
                  <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                      <h2 class="head-set">OUR SERVICES</h2>
                      <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                           Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                      </p>
                  </div>
              </div>
              <div class="row text-center">

                  <div class="col-md-4 col-sm-4 col-xs-12">
                      <i class="fa fa-recycle  fa-5x"></i>
                      <h4 class="head-set">POST PRODUCTION</h4>
                      <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                           Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                      </p>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                      <i class="fa fa-desktop  fa-5x"></i>
                      <h4 class="head-set">FILM PRE PRODUCTION </h4>
                      <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                           Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                      </p>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                      <i class="fa fa-bolt  fa-5x"></i>
                      <h4 class="head-set">MEDIA </h4>
                      <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                           Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                      </p>
                  </div>
              </div>
          </div>
      </section>
      <!--SERVICES SECTION END  -->
      <div class="parallax-like">
          <div class="overlay">


              <div class="container">
                  <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-4">
                          <div>
                              <strong>1300+</strong>
                              <p>
                                  Projects
                              </p>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4">
                          <div>
                              <strong>100+</strong>
                              <p>
                                  Locations
                              </p>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4 ">
                          <div>
                              <strong>5000+</strong>
                              <p>
                                  Employees
                              </p>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>
      <!--PARALLAX LIKE / STATS SECTION END  -->
      <section id="works">
          <div class="container">
              <div class="row text-center pad-bottom">
                  <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                      <h2 class="head-set">OUR WORKS</h2>
                      <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                           Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                      </p>
                  </div>
              </div>
              <div class="row text-center portfolio-item">

                  <div class="col-md-4 col-sm-4 ">
                      <div class="alert alert-info">
                          <img src="#" class="img-responsive " alt="" />

                          <h3>Project Title Here</h3>
                          <h5><a href="#"><strong>Space for Videos</strong> </a>to go to the project</h5>
                      </div>

                  </div>
                  <div class="col-md-4 col-sm-4 ">
                      <div class="alert alert-danger">
                          <img src="#" class="img-responsive " alt="" />

                          <h3>SPACE FOR VIDEOS</h3>
                          <h5><a href="#"><strong>Lorem ipsum dolor</strong> </a>Lorem ipsum dolor</h5>
                      </div>

                  </div>
                  <div class="col-md-4 col-sm-4 ">
                      <div class="alert alert-success">
                          <img src="#" class="img-responsive " alt="" />

                          <h3>Project Title Here</h3>
                          <h5><a href="#"><strong>Lorem ipsum dolor</strong> </a>Lorem ipsum dolor</h5>
                      </div>

                  </div>

              </div>
          </div>
      </section>
      <!--WORKS / PORTFOLIO SECTION END  -->
      <div id="video-sec" class="player" data-property="{videoURL:'http://www.youtube.com/watch?v=v6Gxin8VKZc',containment:'self',autoPlay:true, mute:true, startAt:0, opacity:1,mute: true,showControls:false}">
          <!-- change https://www.youtube.com/watch?v=Ycv5fNd4AeM to your youtube url-->
          <div class="overlay">
              <div class="container">
                  <div class="row text-center">
                      <div class="col-md-12">
                          <h1>HERE IS BACKGROUND VIDEO</h1>
                          <h4>This scripts uses plugin <strong>jquery.mb.YTPlayer</strong>

                          </h4>
                          <h4>to play video in background of divs

                          </h4>
                      </div>
                  </div>
              </div>
          </div>

      </div>
      <!-- VIDEO SECTION END-->
      <section id="contact">
          <div class="container">
              <div class="row text-center ">
                  <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                      <h2 class="head-set">OUR LOCATION</h2>
                      <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                           Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                      </p>
                      <br />
                  </div>
              </div>
              <div class="row text-center">


                  <div class="col-md-12">
                     <h3>XX, NEW DELHI, HAUZ KHAS</h3>
                     <h3>INDIA -11-00-02.</h3>
                                         <h3><strong>Email :</strong>wisdomArt@gmail.com </h3>

                  </div>

              </div>
          </div>
      </section>
      <!-- CONTACT SECTION END-->
      <section id="clients">
      <div class="container">
          <div class="row">
              <div class="col-md-3">
                  <img src="#" alt="Some Gallery Images" class="img-responsive" />
              </div>
              <div class="col-md-3">
                  <img src="#" alt="Some Gallery Images " class="img-responsive" />
              </div>
              <div class="col-md-3">
                  <img src="#" alt="Some Gallery Images " class="img-responsive" />
              </div>
              <div class="col-md-3">
                  <img src="#" alt="Some Gallery Images " class="img-responsive" />
              </div>
          </div>

      </div>
          </section>
      <!-- CLIENTS SECTION END-->
      <footer>
          © 2015 YourDomain.com  | <a href="#" target="_blank">by speak2arpit@gmail.com</a>
      </footer>




  </div>
  <div class="main container clearfix">

  </div>
</div>
